@import "./normalize.css";

/* 获取根元素的html */
:root {
  --color-text: #2e2d2d;
  --color-hight-text: #ff5777;
  --color-tint: red;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    "微软雅黑", "Microsuft YaHei";
  user-select: none; /*禁止用户选取页面的文字/图片等*/
  /* -webkit-tap-highlight-color: transparent; */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  height: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
